<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd ">



<bean id="person" class="com.training.spring.Person" scope="prototype"><!-- autowired=byType/byName -->

<property name="fristName" value="Peter"></property><!-- setter injection -->
<property name="lastName" value="parker"></property>
<constructor-arg value="24" type="int"/><!-- constructor injection -->
<!--<property name="car" ref="mycar"></property>-->
</bean>

<bean id="car123" class="com.training.spring.Car" scope="prototype" >
<property name="make" value="Honda"></property>
<property name="model" value="Civic"></property>
<property name="year" value="2015"></property>
</bean>

<bean id="employee" class="com.training.spring.Employee" scope="prototype">
<property name="empName" value="prashanthi"></property>
<property name="empSalary" value="30000"></property>
</bean>

<bean id="mg" class="com.training.spring.Manager" scope="prototype" >
<property name="mgName" value="Ravi"></property>
<property name="mgSalary" value="6000"></property>
</bean>
</beans> 